@font-face {
    font-family: 'komikax';
    src: url('./assets/fonts/KOMIKAX_.ttf');
}

@font-face {
    font-family: 'leckerliOne';
    src: url('./assets/fonts/LeckerliOne-Regular.ttf');
}

@font-face {
    font-family: 'paybAck';
    src: url('./assets/fonts/PaybAck.ttf');
}

@font-face {
    font-family: 'chocolates';
    src: url('./assets/fonts/TT-Chocolates-Regular.otf');
}